USE [Traz]
GO
/****** Object:  Table [dbo].[Biometricos]    Script Date: 9/4/2025 21:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biometricos](
	[idBiometrico] [uniqueidentifier] NOT NULL,
	[idCentroTrabajo] [uniqueidentifier] NOT NULL,
	[identificadorBiometrico] [varchar](50) NOT NULL,
	[nombreDispositivo] [varchar](100) NULL,
 CONSTRAINT [PK_Biometricos] PRIMARY KEY CLUSTERED 
(
	[idBiometrico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 9/4/2025 21:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[idBitacora] [uniqueidentifier] NOT NULL,
	[idBiometrico] [uniqueidentifier] NOT NULL,
	[Identificacion] [varchar](15) NULL,
	[NombreCompleto] [varchar](100) NULL,
	[FechaHora] [datetime] NOT NULL,
	[tipoMarcacion] [varchar](50) NOT NULL,
	[idProgramacionDetalle] [uniqueidentifier] NULL,
	[idTurno] [uniqueidentifier] NULL,
	[observacion] [varchar](255) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosBiometrico]    Script Date: 9/4/2025 21:00:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosBiometrico](
	[idUsuario] [uniqueidentifier] NOT NULL,
	[TipoDocumento] [varchar](10) NULL,
	[Identificacion] [varchar](15) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[Identificador] [varchar](50) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_UsuariosBiometrico] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Biometricos] ([idBiometrico], [idCentroTrabajo], [identificadorBiometrico], [nombreDispositivo]) VALUES (N'c93e664f-324e-4776-b90d-837a064b1559', N'21f0b4ca-f769-4f06-80be-1303776f52b7', N'BIOPATIOBONITO', N'Biometrico Patio Bonito')
INSERT [dbo].[Biometricos] ([idBiometrico], [idCentroTrabajo], [identificadorBiometrico], [nombreDispositivo]) VALUES (N'83dbb257-8bfd-4db3-a90a-da5190bf156e', N'fc724084-fa9f-4551-b10a-307395f76265', N'BIOPRADERA', N'Biometrico La Pradera')
INSERT [dbo].[Bitacora] ([idBitacora], [idBiometrico], [Identificacion], [NombreCompleto], [FechaHora], [tipoMarcacion], [idProgramacionDetalle], [idTurno], [observacion]) VALUES (N'243cd753-a8d4-45d8-b773-00455265ef38', N'c93e664f-324e-4776-b90d-837a064b1559', N'1090454251', N'JONATHAN BALAGUERA', CAST(N'2025-04-04T14:56:57.000' AS DateTime), N'Salida', N'00000000-0000-0000-0000-000000000001', N'00000000-0000-0000-0000-000000000001', NULL)
INSERT [dbo].[Bitacora] ([idBitacora], [idBiometrico], [Identificacion], [NombreCompleto], [FechaHora], [tipoMarcacion], [idProgramacionDetalle], [idTurno], [observacion]) VALUES (N'c622c3f2-8b26-420f-a034-008f18a3aa2c', N'83dbb257-8bfd-4db3-a90a-da5190bf156e', N'13929944', N'MILTON YESID MENDEZ PATINO', CAST(N'2025-03-31T11:38:09.000' AS DateTime), N'Entrada', N'00000000-0000-0000-0000-000000000001', N'00000000-0000-0000-0000-000000000001', N'Sin turno programado')
INSERT [dbo].[Bitacora] ([idBitacora], [idBiometrico], [Identificacion], [NombreCompleto], [FechaHora], [tipoMarcacion], [idProgramacionDetalle], [idTurno], [observacion]) VALUES (N'e477b207-5b4a-4d06-b3fb-00d664294e1f', N'83dbb257-8bfd-4db3-a90a-da5190bf156e', N'1092944548', N'ERGUYN EXLEITER CELIS CASAS', CAST(N'2025-03-25T12:59:21.000' AS DateTime), N'Entrada', N'00000000-0000-0000-0000-000000000001', N'00000000-0000-0000-0000-000000000001', N'Sin turno programado')
GO
INSERT [dbo].[UsuariosBiometrico] ([idUsuario], [TipoDocumento], [Identificacion], [NombreCompleto], [Cargo], [Identificador], [Habilitado]) VALUES (N'28360d2a-c1b4-4a9d-a069-40b567d928a2', NULL, N'1091806400', N'ELIZABETH RODRIGUEZ RAMIREZ', NULL, NULL, 1)
INSERT [dbo].[UsuariosBiometrico] ([idUsuario], [TipoDocumento], [Identificacion], [NombreCompleto], [Cargo], [Identificador], [Habilitado]) VALUES (N'9ccd2feb-f240-465c-a245-52007d4fcbcb', NULL, N'13504257', N'JOSE ELIAS GARCIA MOLINA', NULL, NULL, 1)
INSERT [dbo].[UsuariosBiometrico] ([idUsuario], [TipoDocumento], [Identificacion], [NombreCompleto], [Cargo], [Identificador], [Habilitado]) VALUES (N'86ab5369-4cc7-4f5e-9c79-5af1777fda5a', NULL, N'1092944548', N'ERGUYN EXLEITER CELIS CASAS', NULL, NULL, 1)
ALTER TABLE [dbo].[UsuariosBiometrico] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[Biometricos]  WITH CHECK ADD  CONSTRAINT [FK_Biometricos_Destino] FOREIGN KEY([idCentroTrabajo])
REFERENCES [dbo].[Destino] ([idDestino])
GO
ALTER TABLE [dbo].[Biometricos] CHECK CONSTRAINT [FK_Biometricos_Destino]
GO
